<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no;" name="viewport"/>  
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="max-age=3600" /> 
<title>7724个人中心首页</title>
<link rel="stylesheet" type="text/css" href="css/7724_per.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script  type="text/javascript" src="js/7724_per.js"></script>
<!-- 7724.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?d44b67217b90bf2331d5c7cf55365d0a";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
 <header class="head clearfix">
  <a href="javascript:history.go(-1);" class="back"></a>
  <span>个人中心</span>
  <a href="change_password.html" class="modify_paw">修改密码</a>
 </header>
<!--用户昵称-->
 <div class="public user">
  <a href="edit_ziliao.html">
    <p class="p1"><img src="img/default_pic.png"></p>
    <p class="p2">
     <span><b>用户昵称</b><em class="man"></em></span>
     <span class="uid">UID：23132</span>
    </p>
  </a>
 </div>
<!--玩过的游戏-->
 <div class="public played clearfix">
  <div class="tit">玩过的游戏(<em>622</em>)</div>
  <div class="list_four clearfix">
         <ul>
             <li><a href="#"><img src="temp/temp1.png" /><p>愤怒的小鸟</p></a></li>
             <li><a href="#"><img src="temp/temp2.png" /><p>馋嘴猫</p></a></li>
             <li><a href="#"><img src="temp/temp3.png" /><p>愤怒的小鸟</p></a></li>
             <li><a href="#"><img src="temp/temp4.png" /><p>棒打企鹅</p></a></li>
             <li><a href="#"><img src="temp/temp1.png" /><p>愤怒的小鸟</p></a></li>
             <li><a href="#"><img src="temp/temp2.png" /><p>馋嘴猫</p></a></li>
             <li><a href="#"><img src="temp/temp3.png" /><p>愤怒的小鸟</p></a></li>
             <li><a href="#"><img src="temp/temp4.png" /><p>棒打企鹅</p></a></li>
         </ul>
   </div>
   <div class="morelist"><a href="played_game.html"><p>点击查看更多</p></a></div>  
 </div>
<!--底部导航-->
 <nav class="bottom_nav">
       <ul>
             <li><a href="#">推荐</a></li>
             <li><a href="#">最新</a></li>
             <li><a href="#">排行</a></li>
             <li><a href="#">专题</a></li>
             <li><a href="#">分类</a></li>
       </ul>
  </nav>
 <!--底部-->
  <footer class="footer">
    <p class="logout">您好，<span>用户名称</span>，<a href="#">退出</a></p>
    <p>苏州汇科易贸易有限公司<em>|</em><a href="">关于我们</a><em>|</em><a href="">联系我们</a></p  
    ><p>闽ICP备12000443号-2 </p>
  </footer>
</body>
</html>
