<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no;" name="viewport"/>  
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="max-age=3600" /> 
<title>第三方登录(以下为绑定已有账号页面)</title>
<link rel="stylesheet" type="text/css" href="css/7724_per.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script  type="text/javascript" src="js/7724_per.js"></script>
<!-- 7724.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?d44b67217b90bf2331d5c7cf55365d0a";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
 <header class="head clearfix">
  <a href="javascript:history.go(-1);" class="back"></a>
  <span>QQ账号登录</span>
 </header>
 
 <!--用户登录-->
 <div class="public clearfix" >
  <ul class="input_box">
   <li><span>手机号：</span><input type="text" class="input01" placeholder="请输入手机号码" ></li>
   <li><span>密&nbsp;&nbsp;码：</span><input type="password" class="input01" placeholder="输入密码"></li>
  </ul>
 </div>
 <p class="button_login"><a href="#">绑定账号</a></p>
 <p class="now">没有账号，<a href="login_qq2.html">立即注册</a></p>
<!--底部导航-->
 <nav class="bottom_nav">
  <ul>
   <li><a href="#">推荐</a></li>
   <li><a href="#">最新</a></li>
   <li><a href="#">排行</a></li>
   <li><a href="#">专题</a></li>
   <li><a href="#">分类</a></li>
  </ul>
  </nav>
 <!--底部-->
  <footer class="footer">
    <p class="logout"><a href="#">登录</a>|<a href="#">注册</a></p>
    <p>苏州汇科易贸易有限公司<em>|</em><a href="">关于我们</a><em>|</em><a href="">联系我们</a></p  
    ><p>闽ICP备12000443号-2 </p>
  </footer>
</body>
</html>
