<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no;" name="viewport"/>  
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="max-age=3600" /> 
<title>用户注册</title>
<link rel="stylesheet" type="text/css" href="css/7724_per.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script  type="text/javascript" src="js/7724_per.js"></script>
<!-- 7724.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?d44b67217b90bf2331d5c7cf55365d0a";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
 <header class="head clearfix">
  <a href="javascript:history.go(-1);" class="back"></a>
  <span>用户注册</span>
  <a class="modify_paw" href="login.html">登录</a>
 </header>
 
 <!--用户注册-->
 <div class="public clearfix" >
  <ul class="input_box">
   <li><span>手机号：</span><input type="text" class="input01" placeholder="请输入11位手机号码" ></li>
   <li><span>验证码：</span><input type="text" class="input02" placeholder="请输入验证码" ><a href="javascript:void(0)" class="yanzhengma">获取验证码</a></li>
   <li><span>密&nbsp;&nbsp;码：</span><input type="password" class="input01" placeholder="请输入6-15位字母或数字"></li>
  </ul>
 </div>
 <p class="forget"><span class="tishi">请输入正确的手机号码! </span></p>
 <p class="agree"><span class="checkbox checkboxed"></span><span class="tiaokuan">同意<a href="xieyi.html">《7724用户服务协议》</a></span></p>
 <table cellpadding="0" cellspacing="10" class="button_register">
  <tr>
   <td><a href="#" class="man_register">男生注册</a></td>
   <td><a href="#" class="woman_register">女生注册</a></td>
  </tr>
 </table>
<!--底部导航-->
 <nav class="bottom_nav">
  <ul>
   <li><a href="#">推荐</a></li>
   <li><a href="#">最新</a></li>
   <li><a href="#">排行</a></li>
   <li><a href="#">专题</a></li>
   <li><a href="#">分类</a></li>
  </ul>
  </nav>
 <!--底部-->
  <footer class="footer">
    <p class="logout"><a href="#">登录</a>|<a href="#">注册</a></p>
    <p>苏州汇科易贸易有限公司<em>|</em><a href="">关于我们</a><em>|</em><a href="">联系我们</a></p  
    ><p>闽ICP备12000443号-2 </p>
  </footer>
</body>
</html>
