<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="width=device-width, initial-scale=1,maximum-scale=1.0,user-scalable=no;" name="viewport"/>  
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="black" name="apple-mobile-web-app-status-bar-style" />
<meta content="telephone=no" name="format-detection" />
<meta http-equiv="Cache-Control" content="max-age=3600" /> 
<title>用户服务协议</title>
<link rel="stylesheet" type="text/css" href="css/7724_per.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script  type="text/javascript" src="js/7724_per.js"></script>
<!-- 7724.com Baidu tongji analytics -->
<script>
var _hmt = _hmt || [];
(function() {
var hm = document.createElement("script");
hm.src = "//hm.baidu.com/hm.js?d44b67217b90bf2331d5c7cf55365d0a";
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hm, s);
})();
</script>
</head>

<body>
 <header class="head clearfix">
  <a href="javascript:history.go(-1);" class="back"></a>
  <span>用户服务协议</span>
 </header>
 
 <!--用户服务协议-->
 <div class="public2">
  <p class="tit2">7724用户服务协议</p>
  <p>当您申请用户时，表示您已经同意并遵守本站规章。</p>
  <p>欢迎您加入7724平台参与交流和讨论，本站点为公共交流平台，为维护网上公共秩序和社会稳定，请您自觉遵守以条款：</p>
  <p>一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：</p>
  <p class="ci">（一）煽动抗拒、破坏宪法和法律、行政法规实施的；</p>
  <p class="ci">（二）煽动颠覆国家政权，推翻社会主义制度的；</p>
  <p class="ci">（三）煽动分裂国家、破坏国家统一的；</p>
  <p class="ci">（四）煽动民族仇恨、民族歧视，破坏民族团结的；</p>
  <p class="ci">（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；</p>
  <p class="ci">（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；</p>
  <p class="ci">（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；</p>
  <p class="ci">（八）损害国家机关信誉的；</p>
  <p class="ci">（九）其他违反宪法和法律行政法规的；</p>
  <p class="ci">（十）进行商业广告行为的。</p>
  <p>二、互相尊重，对自己的言论和行为负责。</p>
  <p>三、禁止在申请用户时使用相关本站的词汇，或是带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。</p>
  <p>四、禁止以任何方式对本站进行各种破坏行为。</p>
  <p>五、如果您有违反国家相关法律法规的行为，本站概不负责，您的登录</p>
 </div>
<!--底部导航-->
 <nav class="bottom_nav">
  <ul>
   <li><a href="#">推荐</a></li>
   <li><a href="#">最新</a></li>
   <li><a href="#">排行</a></li>
   <li><a href="#">专题</a></li>
   <li><a href="#">分类</a></li>
  </ul>
  </nav>
 <!--底部-->
  <footer class="footer">
    <p class="logout"><a href="#">登录</a>|<a href="#">注册</a></p>
    <p>苏州汇科易贸易有限公司<em>|</em><a href="">关于我们</a><em>|</em><a href="">联系我们</a></p  
    ><p>闽ICP备12000443号-2 </p>
  </footer>
</body>
</html>
